{
  "web": {
    "client_id": "APPLICATION ID",
    "client_secret": "SECRET",
    "redirect_uris": [
    ],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}
